.statistic{
        padding: 43px 0;
        background: #121212;
        color: #fff;
        &-items{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__btn{
            background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
        }
        &-studs{
            max-width: 251px;
            width: 100%;
            &-block{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__text{
                    opacity: 0.4;
                    margin-bottom: 10px;
                }
            }
        }
        &-earnings{
            max-width: 714px;
            width: 100%;
            &-number{
                display: flex;
                margin-bottom: 8px;
                &__text{
                    opacity: 0.4;
                    margin-right: 30px;
                }
            }
            &-bar{
                margin-bottom: 5px;
                height: 6px;
                background: linear-gradient(90deg, rgba(223,89,80,1) 12%, rgba(69,16,70,1) 60%, rgba(255,255,255,1) 60%);
            &-target{
                display: flex;
                justify-content: space-between;
                color: #fff;
                opacity: 0.4;
            }
        }
    }
        .without-margin{
            margin: 0;
        }


}